:root {
  --default-font: 1rem;
  --default-font-normal: 2rem;
  --default-font-big: 2.7rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*Nav bar*/
.navbar-nav li a {
  font-size: var(--default-font);
}
.navbar-brand {
  font-size: var(--default-font-big);
  letter-spacing: 0.1rem;
}
/* End Nav bar*/

/* resize image */
.img {
  height: 40rem;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

.carousel-item:hover img {
  filter: blur(5px) brightness(0.5);
}
.carousel-item h5 {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.carousel-item:hover h5 {
  opacity: 0.8;
}

.carousel-item .carousel-descript {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.carousel-item:hover .carousel-descript {
  opacity: 0.8;
}
.carousel-animation {
  transform-origin: center;
  animation: fade 0.3s ease-in;
}
@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* end resize image */

/*card img */
.phone-img {
  height: 15rem;
}
.phone-box {
  transition: all 0.3s ease-in-out;
}
.phone-box:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(1rem) scale(1.1);
}

/* end card img */

/* cart img*/
.cart-img {
  width: 100%;
  height: 10rem;
}
.cart-link {
  text-decoration: none;
}
.quantity {
  width: 30%;
}
.cart-btn {
  border-style: none;
  background-color: #0d6efd;
  color: white;
  height: 1.9rem;
  border-radius: 2px;
}
.cart-btn span {
  font-weight: 550;
}
.cart-btn:hover {
  background-color: #0c4aa8;
}
.cart-check a {
  color: white;
  text-decoration: none;
}
.cart-check:hover a {
  color: white;
  text-decoration: none;
}

/*text animation */
.box img {
  width: 23rem;
  height: 18rem;
}
.mt-6 {
  margin-top: 8rem;
}
.box-text {
  font-size: var(--default-font-normal);
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.box:hover .box-text {
  transform: translate(-50%, -50%) scale(1);
}
.box:hover img {
  filter: blur(1px) brightness(0.7);
}

@media screen and (max-width: 1200px) {
  .box img {
    width: 30rem;
    margin-top: 1rem;
  }
}
/* custom carousel item */
.carousel-box {
  height: auto;
  padding: 0.5rem 0.7rem;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  margin: 0 0.5rem;
}
.py {
  padding: 2rem 0;
}
.carousel-box:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}
.carousel-product {
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem;
}
.carousel-img {
  width: 100%;

  height: 15rem;
}
.carousel-price {
  text-align: center;
  margin-top: 0.3rem;
  color: #0d6efd;
  font-size: 1rem;
  font-weight: 700;
}
.carousel-button {
  border: none;
  width: 50%;
  margin: 0 auto;
  background-color: #0d6efd;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border-radius: 15px;
  transition: all 0.3s ease-in;
}
.carousel-button:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.5rem);
}
@media screen and (max-width: 1200px) {
  .carousel-button {
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
  }
  .carousel-product {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .carousel-price {
    font-size: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .carousel-product {
    font-size: 1.1rem;
  }
  .carousel-price {
    font-size: 1rem;
  }
}
.arrival-text {
  width: 10%;
  height: 0.2rem;
  background-color: #0d6efd;
}

/*best seller */
.sell-button {
  padding: 0.5rem 2rem;
  border: 2px solid #0d6efd;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3 ease-in;
}
.sell-button:not(:last-child) {
  margin-right: 0.1em;
}
.sell-button:hover {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}
.sell-list {
  width: 70%;
  margin: 0 auto;
}
.sell-img {
  width: 6rem;
  height: 8rem;
}
.sell-price {
  color: #0d6efd;
  font-weight: 600;
}
.sell-box {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.sell-box:hover {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-0.3rem);
}
.sell-animation {
  animation: zoom 0.4s ease-in;
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.sell-button-item {
  border-style: none;
  padding: 0.2rem 0rem;
  font-size: 0.9rem;
  color: white;
  font-weight: 400;
  background-color: #0d6efd;
  transition: all 0.3 ease-in;
  margin-top: -1rem;
  width: 100%;
  transform: scale(0);
  transition: transform 0.5s ease-in;
}
.sell-button-item:hover {
  background-color: #0c4aa8;
}
.sell-box:hover .sell-button-item {
  transform: scale(1);
}
@media screen and (max-width: 1200px) {
  .sell-button {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
  }
}
@media screen and (max-width: 900px) {
  .sell-button-item {
    font-size: 0.6rem;
    padding: 0.1rem 0.2rem;
  }
  .sell-box {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0rem;
  }
  .sell-img {
    width: 5rem;
    height: 7rem;
  }
}
/*count down */
.countdown-box {
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  background-attachment: fixed;
}
.countdown-img img {
  height: 30rem;
}
.countdown-heading {
  font-size: 2.5rem;
}
.countdown-time {
  background-color: white;
  width: 8rem;
  height: 8rem;
  text-align: center;
  border-radius: 50%;
}
.countdown-time:not(:last-child) {
  margin-right: 0.9rem;
}
.countdown-time span {
  color: #0d6efd;
  font-size: 2.6rem;
  font-weight: 700;
}
.countdown-time p {
  font-size: 1.5rem;
  font-weight: 700;
}
.countdown-text {
  width: 30%;
  height: 0.3rem;
  background-color: #0d6efd;
}
.countdown-button {
  z-index: 1;
  position: relative;
  width: 30%;
  margin: 0 auto;
  font-size: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: #000;
}

.countdown-button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0d6efd;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.countdown-button:hover {
  cursor: pointer;
}

.countdown-button:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

@media screen and (max-width: 1200px) {
  .countdown-box {
    padding: 1rem 2rem;
    background-color: #f2f2f2;

    background-attachment: fixed;
  }
  .countdown-img img {
    height: 20rem;
  }
  .countdown-heading {
    font-size: 1.5rem;
  }
  .countdown-time {
    background-color: white;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 50%;
  }
  .countdown-time:not(:last-child) {
    margin-right: 0.3rem;
  }
  .countdown-time span {
    color: #0d6efd;
    font-size: 1.8rem;
  }
  .countdown-time p {
    font-size: 1.2rem;
  }
  .countdown-text {
    width: 30%;
    height: 0.2rem;
    background-color: #0d6efd;
  }
  .countdown-button {
    z-index: 1;
    position: relative;
    width: 30%;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: #000;
  }
}
/*letter */
.letter-box {
  background-color: #f2f2f2;
  padding: 2rem 2rem;
}
.letter-text p {
  margin-top: -0.3rem;
  font-weight: 500;
}
.letter-input {
  height: 3rem;
}
.letter-input input {
  width: 25rem;
  padding-left: 2rem;
}
.letter-input button {
  border: none;
  padding: 0rem 1.2rem;
  color: white;
  font-weight: 600;
  background-color: #0d6efd;
}
.letter-input button:hover {
  animation: jelly 0.7s infinite;
}
@media screen and (max-width: 900px) {
  .letter-input input {
    width: 23rem;
  }
  .letter-input button {
    padding: 0rem 0.9rem;
  }
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/*footer*/
.footer-icon:hover i {
  color: #0d6efd;
  cursor: pointer;
}
